* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: normal;
}

h1,
h2,
h3 {
  font-family: "Noto Serif TC", serif;
}

h1:hover,
h2:hover,
h3:hover {
  color: rgba(4, 4, 4, 0.3333333333);
}

a:hover {
  opacity: 50%;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  min-width: 18rem;
}
header div.logo {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  box-shadow: 0px 2px rgba(128, 128, 128, 0.363);
}
header div.logo img {
  margin-left: 5px;
  height: 3rem;
  width: 3rem;
}
header div.logo h1 {
  margin: 0px;
  flex: 0 1 250px;
  font-size: 2.25rem;
  font-weight: bold;
  align-self: center;
}
header nav {
  box-shadow: 0px 2px rgba(128, 128, 128, 0.363);
}
header nav ul {
  margin: 0rem;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
header nav ul li {
  font-weight: bold;
  margin: 0rem 1rem;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav ul li a:hover {
  color: gray;
}

main .carousel {
  position: relative;
  box-shadow: 6px 1px rgba(0, 0, 0, 0.64);
}
main .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
main .carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
main .carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
main .carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
  min-height: 40vw;
}
main .carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
main .carousel-control.prev {
  left: 2%;
}
main .carousel-control.next {
  right: 2%;
}
main .carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
main #carousel-1:checked ~ .control-1,
main #carousel-2:checked ~ .control-2,
main #carousel-3:checked ~ .control-3,
main #carousel-4:checked ~ .control-4 {
  display: block;
}
main .carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
main .carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}
main .carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
main .carousel-bullet:hover {
  color: #aaaaaa;
}
main #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
main #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
main #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
main #carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
  color: #428bca;
}
main #title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

section.container {
  display: flex;
  background-color: #fff;
  padding: 1rem 0rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
section.container .left,
section.container .right,
section.container .top,
section.container .video {
  margin: 1.25rem;
  background-color: rgba(213, 212, 212, 0.2);
}
section.container .left h1,
section.container .right h1,
section.container .top h1,
section.container .video h1 {
  background-color: #fff;
  font-size: 2rem;
  padding-bottom: 1rem;
}
section.container .left {
  flex: 3 1 700px;
}
section.container .video ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
  list-style-type: none;
}
section.container .video ul li {
  flex: 1 1 400px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 45vh;
}
section.container .video ul li iframe {
  width: 100%;
  height: 35vh;
  padding-bottom: 1rem;
}
section.container .left ul {
  padding: 2rem;
  list-style-type: none;
}
section.container .left ul li {
  padding: 0.5rem 0px;
  border-bottom: 1px dashed gray;
}
section.container .left ul li a {
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
}
section.container .left ul li a:hover {
  font-size: 1.5rem;
  color: rgba(231, 18, 18, 0.5803921569);
  font-weight: 800;
}
section.container .right {
  flex: 1 1 300px;
}
section.container .right div {
  display: flex;
  flex-direction: column;
  padding: 1.45rem;
}
section.container .right div h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.518);
}
section.container .right div span {
  margin-top: 1rem;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgba(255, 0, 0, 0.689);
}
section.container .right div ul {
  margin-top: 1rem;
  list-style-type: none;
  line-height: 2.5rem;
}
section.container .right div ul li {
  font-size: 1.35rem;
}
section.container .right div ul li:hover {
  font-weight: 900;
}

footer {
  padding-top: 2rem;
  background-color: rgba(216, 215, 215, 0.8862745098);
  max-width: 100%;
  min-height: 40vh;
}
footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}
footer ul li {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4470588235);
}

.more {
  display: flex;
  flex-direction: row-reverse;
}
.more a {
  text-decoration-line: none;
  text-decoration: none;
}
.more a h3 {
  color: black;
}

div.link {
  margin: 1rem 2rem;
}
div.link h3 {
  font-size: 2rem;
}
div.link ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgba(213, 212, 212, 0.2);
}
div.link ul li {
  line-height: 2rem;
}
div.link ul li a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  header nav ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-content: space-around;
  }
  header nav ul li a {
    font-size: 1.25rem;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
  }
}/*# sourceMappingURL=style.css.map */